h1{
    color:red;
}

/* for footer */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: auto;
}

.footer p {
    color: #fff;
    text-align: center;
    /* line-height: 2rem; */
    padding-top: 0.8rem;
}